<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/include/style.css">
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <a href="/" class="homelink"><img src="/include/logo.png" alt="JY">JustYakov</a>
            <div class="category">{{ page.category | default: "" }}</div>
        </div>
        {{ content }}
    </body>
</html>
